:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 50%, var(--secondary) 100%);

  .container {
    display: flex;
    flex-direction: column;
    border: 2px #edefec solid;
    padding: 2em;
    border-radius: 1em;
  }
}
