
.container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 50%, var(--secondary) 100%);

  .demonstrateur {
    padding-top: 2em;
  }
}

.politics {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  a {
    color: #1d2c21;
    font-size: 0.7em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
