<div class="container">
  <h2>Règles de confidentialité</h2>
  <h3>Collecte des informations</h3>
  <p>Nous collectons les types de données suivants pour offrir et améliorer notre service :</p>
  <ul>
    <li>Informations personnelles telles que le nom et l'adresse email.</li>
  </ul>
  <h3>Utilisation des informations</h3>
  <p>Nous utilisons les informations collectées uniquement pour :</p>
  <ul>
    <li>Améliorer l'expérience utilisateur.</li>
    <li>Permettre l'utilisation de l'application.</li>
  </ul>
  <p>Aucune donnée n'est transférée à des tiers.</p>
  <h3>Partage des données</h3>
  <p>Les seules données échangées entre utilisateurs sont les recettes partagées, si souhaité, avec le nom de
    l'utilisateur.</p>
  <h3>Protection des informations</h3>
  <p>Nous mettons en place des mesures de sécurité pour protéger vos données, y compris le stockage sécurisé des
    informations sur FireBase. Seuls les administrateurs de l'application peuvent avoir accès aux données.</p>
  <h3>Droits des utilisateurs</h3>
  <p>Vous avez le droit d'accéder, de corriger, ou de supprimer vos données personnelles en nous contactant à l'adresse
    email suivante : <a href="mailto:saunaltech@gmail.com">{{ 'saunaltech@gmail.com' }}</a>.</p>
  <h3>Modifications de la politique</h3>
  <p>Nous vous informerons de toute modification de notre politique de confidentialité via des notifications dans
    l'application et/ou par email.</p>
  <h3>Contact</h3>
  <p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à <a
    href="mailto:saunaltech@gmail.com">{{ 'saunaltech@gmail.com' }}</a>.</p>
</div>
