<div class="container">
  <h2>Règles de confidentialité</h2>

  <h3>Collecte des informations</h3>
  <p>Lorsque vous utilisez l'application Capy, certaines de vos informations sont utilisées afin de nous permettre de vous offrir le service le plus adapté. Dans un but de transparence, cette politique de confidentialité a pour objectif :</p>
  <p></p>
  <ul>
    <li>de vous détailler de façon claire et simple comment nous utilisons des informations vous concernant lorsque vous utilisez l'application.</li>
    <li>de vous expliquer les mécanismes que nous mettons à votre disposition pour contrôler la façon dont vos données sont utilisées, les droits dont vous disposez sur celles-ci.</li>
  </ul>

  <h3>Utilisation des informations</h3>
  <p>Nous nous engageons à ne collecter que les données adéquates, pertinentes et limitées à ce qui est nécessaire au regard des objectifs pour lesquels elles sont traitées, conformément à l’article 5 du Règlement européen 2016/679.</p>
  <p>Les données personnelles collectées dans le cadre de l'application sont les suivantes :</p>
  <p></p>
  <ul>
    <li>Les données d'identifications fournies lors de l'inscription (Nom d'utildiateur, email)</li>
    <li>La locale géographique utilisée afin de traduire l'application.</li>
  </ul>

  <h3>Partage des données</h3>
  <p>Les seules données échangées entre utilisateurs sont les recettes partagées, si souhaité, avec le nom de
    l'utilisateur.</p>

  <h3>Protection des informations</h3>
  <p>Nous mettons en place des mesures de sécurité pour protéger vos données, y compris le stockage sécurisé des
    informations sur FireBase. Seuls les administrateurs de l'application peuvent avoir accès aux données.</p>

  <h3>Droits des utilisateurs</h3>
  <p>Vous avez le droit d'accéder, de corriger, ou de supprimer vos données personnelles en nous contactant à l'adresse
    email suivante : <a href="mailto:saunaltech@gmail.com">{{ 'saunaltech@gmail.com' }}</a>.</p>

  <h3>Modifications de la politique</h3>
  <p>Nous vous informerons de toute modification de notre politique de confidentialité via des notifications dans
    l'application et/ou par email.</p>
  <p>L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement.
    La présente politique, a été mise à jour le 27/11/2024.</p>

  <h3>Contact</h3>
  <p>Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à <a
    href="mailto:saunaltech@gmail.com">{{ 'saunaltech@gmail.com' }}</a>.</p>

</div>
